<% include partial/head %>

  <% if (locals.user) { %>
    Hello there returning user!
  <% } else { %>
    <!-- Present Signup form if not logged in -->
    <script src="/js/signup.js"></script>

    <div class="ui center aligned middle aligned grid segment" style="margin-top: 15vh;">
      <div class="column">
        <h2 class="ui image header" style="color: green;" >
          <img src="/assets/images/ooaa_logo.png" class="image">
          <div class="content">
            Welcome to Trip Roster!
          </div>
        </h2>
        <% if (messages.error) { %>
          <div class="ui negative message">
            <i class="close icon"></i>
            <div class="header">
              <%= messages.error %>
            </div>
          </div>
        <% } %>
        <form class="ui large form" action="/signup" method="post" >
          <div class="ui stacked segment">
            <label style="float: left;">Name</label>
            <div class="field">
              <div class="two fields">
                <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input id="first-name-form" type="text" name="firstName" placeholder="First Name">
                  </div>
                </div>
                <div class="field">
                  <input id="last-name-form" type="text" name="lastName" placeholder="Last Name">
                </div>
              </div>
            </div>
            <div class="field">
              <label style="float: left;">Email</label>
              <div class="ui left icon input">
                <i class="at icon"></i>
                <input id="email-form" type="email" name="email" placeholder="Email">
              </div>
            </div>
            <div class="field">
              <label style="float: left;">Password</label>
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input id="password-form" type="password" name="password" placeholder="Password">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i id="confirm-icon" class="lock open icon"></i>
                <input id="confirm-form" type="password" name="confirm" placeholder="Confirm Password">
              </div>
            </div>
            <div id="submit-button" class="ui fluid black large submit button disabled" style="background-color: green;">Signup!</div>
          </div>
       
        </form>

        <div class="ui message">
            Already have an account? <a href="/login">Login</a>
          </div>
      </div>
    </div>
  <% } %>

<% include partial/foot %>