<% include ../partial/head %>

<div class="ui center aligned middle aligned grid segment" style="margin-top: 20vh;">
    <div class="column">
      <h2 class="ui image header" style="color: green;" >
        <img src="/assets/images/ooaa_logo.png" class="image">
        <div class="content">
          Send password reset email
        </div>
      </h2>
      <% if (messages.error) { %>
        <div class="ui negative message">
          <i class="close icon"></i>
          <div class="header">
            <%= messages.error %>
          </div>
        </div>
      <% } %>
      <form class="ui large form" action="/forgot" method="post" >
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="at icon"></i>
              <input type="email" name="email" placeholder="E-mail address">
            </div>
          </div>
          <div class="ui fluid black large submit button" style="background-color: green;">Login</div>
        </div>
  
      </form>
    </div>

<% include ../partial/foot %>